@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

a {
  display: block;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

label {
  cursor: pointer;
}

.header {
  max-width: 940px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: '微軟正黑體',sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 900;
}

.header-nav {
  display: none;
  background-image: url("../../img/dehaze-24px.png");
  padding: 25px;
  background-position: center center;
  background-repeat: no-repeat;
}

@media (max-width: 768px) {
  .header-nav {
    display: block;
  }
}

.header-logo {
  background-image: url("../../img/logotype-sm-dark.svg");
  width: 220px;
  height: 40px;
  background-repeat: no-repeat;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
}

@media (max-width: 425px) {
  .header-logo {
    width: 115px;
    height: 24px;
  }
}

.header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .nav-link {
  font-size: 16px;
  line-height: 22px;
  font-weight: 900;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 50px;
}

.header .nav-link a {
  padding: 10px 30px 8px;
}

.header .nav-link a:hover {
  background: #EAF0ED;
}

@media (max-width: 768px) {
  .header .nav-link {
    display: none;
  }
}

.header .nav img {
  width: 24px;
  height: 24px;
}

@media (max-width: 768px) {
  .header {
    padding: 0 30px;
  }
}

@media (max-width: 425px) {
  .header {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 0;
  }
}

.subscribe {
  background: #3F5D45;
  padding: 30px 0;
}

.subscribe-container {
  max-width: 780px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .subscribe-container {
    max-width: 680px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 425px) {
  .subscribe-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 375px) {
  .subscribe-container {
    max-width: 315px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

.subscribe-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe-title img {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

@media (max-width: 768px) {
  .subscribe-title {
    margin-bottom: 33px;
  }
}

@media (max-width: 375px) {
  .subscribe-title {
    margin: 0 10px 33px;
  }
}

.subscribe-content {
  font-size: 24px;
  line-height: 33px;
  color: #EAF0ED;
  font-weight: 500;
  font-family: '微軟正黑體',sans-serif;
}

.mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mail-content {
  width: 100%;
  font-size: 20px;
  border: 0;
  padding-left: 71px;
  background: #EAF0ED url(../../img/mail-24px.png) no-repeat;
  background-position: 20px 16px;
}

.mail-submit {
  display: block;
  padding: 20.5px 32px;
  border: 0;
  background: #FFE180 url(../../img/arrow_forward-24px.png) no-repeat center;
}

.footer {
  background: #EAF0ED;
  padding: 30px 0;
  color: #3F5D45;
  font-family: '微軟正黑體',sans-serif;
}

.footer-container {
  max-width: 780px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .footer-container {
    max-width: 680px;
  }
}

@media (max-width: 425px) {
  .footer-container {
    max-width: 315px;
  }
}

.footer-content {
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-content img {
  width: 172px;
  height: 27px;
}

.footer-content li {
  font-size: 16px;
  margin-bottom: 10px;
}

.footer-content h3 {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  font-size: 24px;
  font-weight: 800;
  line-height: 30px;
}

@media (max-width: 425px) {
  .footer-content h3 {
    display: none;
  }
}

.footer-content span {
  font-weight: 200;
}

.footer-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 425px) {
  .footer-contact img, .footer-contact ul {
    margin-bottom: 38px;
  }
}

.footer-official {
  font-size: 16px;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.footer-official span {
  font-size: 16px;
  font-family: Times;
}

@media (max-width: 425px) {
  .footer-official {
    display: block;
  }
}

.footer-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-icon li {
  margin-right: 8px;
}

.footer-icon img {
  width: 32px;
  height: 32px;
}

@media (max-width: 425px) {
  .footer-icon {
    margin-bottom: 23px;
  }
}
/*# sourceMappingURL=shoppingcart.css.map */