$font:20px;
$font-1: $font*.6;
$font-2: $font*.8;
$font-4: $font*1.2;




$marine-green: #EAF0ED;
$dark-green: #3F5D45;
$whitesmoke: whitesmoke; 
$white: #fff;
$cream-yellow: #FFE180;
$pinkred: #e36971;