.header{
    max-width: 940px;
    margin:  0 auto; 
    margin-top: 30px;
    margin-bottom: 30px;
    
    font-weight: 900;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
       
    &-nav{
        display: none;
        border:none;
        background: transparent;
        cursor: pointer;
        @include tablet{
            display: block;
            &:focus{
                outline: 0;
            }
        }
        @include mobile{
            padding:0
        }
        img{
            width: 24px;
            height: 24px;
        }
    }
    .logo{
        width: 220px;
        height: 40px;
        background-image: url("https://hexschool.github.io/webLayoutTraining1st/student-week1/logo-all-dark.svg");
        background-repeat: no-repeat ;
        text-indent: 101%;
        overflow: hidden;
        white-space: nowrap;
        @include mobileL{
            width: 115px;
            height: 24px;
        }
    }
    .active {
        max-height: 200px;
    }
    @include tablet{
        padding: 0 30px ;
    }
    @include mobileL{
        align-items: center;
    }
}

.nav{
    display: flex;
    align-items: center;
    img{
        width: 24px;
        height: 24px;
    }
    a:hover{
        background: $marine-green;
        border-radius: 100%;
        border: inset 1px $dark-green;
    }
    &-link{
        font-size: $font-2;
        line-height: 22px;
        font-weight: 900;
        margin-right: 50px;
        max-height: 0px;
        display: flex;
        align-items: center;
        @include tablet{
            position: absolute;
            left: 0;
            top: 150%;
            width: 100%;
            transition: all 0.8s;
            overflow: hidden;
            background: $whitesmoke;
            flex-direction: column;
            li {
                width: 100%;
                
            }
        }
        a{  
            text-align: center;
            color: $dark-green;
            padding:  10px 30px 8px ;
        }  

    }
}