.mail{
    display: flex; 
    &-content{
        width: 100%;
        font-size: $font;
        border: 0;
        padding-left: 71px;
<<<<<<< HEAD
        background: $marine-green  url(../../img/mail-24px.png)  no-repeat  ;
=======
        background: $marine-green  url(https://hexschool.github.io/webLayoutTraining1st/student-week1/mail-24px.png) no-repeat  ;
>>>>>>> 4052110847d1bc9b0b62ce3d7de8ce8253f26c33
        background-position: 20px 16px;
        &:focus{
            outline: 0;
        }
    }
    &-submit{
        display: block;
        padding: 20.5px 32px;
        border: 0;
<<<<<<< HEAD
        background: $cream-yellow  url(../../img/arrow_forward-24px.png) no-repeat center;
=======
        background: $cream-yellow  url(https://hexschool.github.io/webLayoutTraining1st/student-week1/arrow_forward-24px.png) no-repeat center;
>>>>>>> 4052110847d1bc9b0b62ce3d7de8ce8253f26c33
        &:focus{
            outline: 0;
        }
    }
}